
.widget{
font-family:sans-serif;
width:140px;
display:inline-block;
margin:15px 15px 0 0;
padding:54px 0;
line-height:1;
height:1em;
background:#ccc;
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
vertical-align:middle;
-moz-box-shadow:5px 5px 14px rgba(0,0,0,0.4), 0 0 3px rgba(0,0,0,.6) inset, 0 0 50px rgba(0,0,0,.6) inset;
-webkit-box-shadow:5px 5px 14px rgba(0,0,0,0.4), 0 0 50px rgba(0,0,0,.6) inset;
box-shadow:5px 5px 14px rgba(0,0,0,0.4), 0 0 50px rgba(0,0,0,.6) inset;
text-align:center;
position:relative;
text-shadow:0 4px 8px rgba(0,0,0,0.4);
color:rgba(0,0,0,0.5);
}

.widget:before{
content:'';
display:block;
position:absolute;
top:5px;
left:6px;
right:6px;
bottom:50%;
background:rgba(255,255,255,0.35);
-moz-border-radius:14px 14px 8px 8px;
-webkit-border-top-left-radius:14px;
-webkit-border-top-right-radius:14px;
-webkit-border-bottom-right-radius:8px;
-webkit-border-bottom-left-radius:8px;
border-top-left-radius:14px;
border-top-right-radius:14px;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
}

.widget.loaded{
background:#beb;
color:#000;
}
